<h1>Stupid coaching</h1>

<p class="your-question">You: <%= params[:name] %></p>
<p class="coach-response">Coach: <%= @query %></p>
<a href="/form" class="text-decoration-none">Ask a new question</a>
